<div class="main-wrapper">

    <app-topside></app-topside>

    <div class="page-wrapper">

     
        <div class="card">
            <div class="card-body">
                <h5 class="mb-2">Detail Support Request</h5>
                <form #myFormUpdate="ngForm">
                    <div class="mb-1 bb-silver">
                        <label for="text" class="form-label text-bold">CASE Number</label>
                        <input type="text" readonly class="form-control-plaintext" value="{{obj.ticketNumber}}" />
                    </div>
                    <div *ngIf="obj.supportFormId == '1'">
                        <!-- GENERAL -->
                        <div class="mb-1 bb-silver">
                            <label for="select" class="form-label  text-bold text-bold">Permohonan</label>
                            <div class="text-readonly">General</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="text" class="form-label text-bold">Title</label>
                            <input type="text" readonly class="form-control-plaintext" value="{{ obj.subject}}" />
                        </div>
                        <div class="mb-1 bb-silver">
                            <label for="textarea" class="form-label text-bold">Description</label>
                            <div class="text-readonly">{{ obj.note}}</div>
                        </div>
                        <div class="mb-1 bb-silver">
                            <label for="status_name" class="form-label text-bold">Status</label>
                            <input type="text" readonly class="form-control-plaintext" value="{{obj.status_name}}" />
                        </div>
                    </div>

                    <div *ngIf="obj.supportFormId == '2'">
                        <!-- IZIN -->

                        <div class="mb-2">
                            <label for="select" class="form-label  text-bold text-bold">Permohonan</label>  
                            <input type="text" class="form-control form-control-sm" value="{{ obj.f1}}" [readonly]="false">

                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold text-bold">Nama</label>
                            <div class="text-readonly">{{ obj.f2}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">No. KTP</label>
                            <div class="text-readonly">{{ obj.f3}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">No. TLP</label>
                            <div class="text-readonly">{{ obj.f4}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Selaku</label>
                            <div class="text-readonly">{{ obj.f5}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Unit</label>
                            <div class="text-readonly">{{ obj.f6}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Instansi</label>
                            <div class="text-readonly">{{ obj.f7}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Keperluan</label>
                            <div class="text-readonly">{{ obj.f8}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Jenis Barang</label>
                            <div class="text-readonly">{{ obj.f9}}</div>
                        </div>

                    </div>

                    <div *ngIf="obj.supportFormId == '4'">
                        <!-- RENOVASI -->

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Permohonan</label>
                            <div class="text-readonly">{{ obj.subject}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Nama</label>
                            <div class="text-readonly">{{ obj.f1}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Alamat</label>
                            <div class="text-readonly">{{ obj.f2}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">No. TLP</label>
                            <div class="text-readonly">{{ obj.f3}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Jenis Renovasi</label>
                            <div class="text-readonly">{{ obj.f4}}</div>
                        </div>

                        <p><strong>Pemborong Mandor</strong>
                        <p>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Nama</label>
                            <div class="text-readonly">{{ obj.f5}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Alamat</label>
                            <div class="text-readonly">{{ obj.f6}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">KTP</label>
                            <div class="text-readonly">{{ obj.f7}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Telephone / HP</label>
                            <div class="text-readonly">{{ obj.f8}}</div>
                        </div>

                        <p><strong>Waktu Renovasi</strong>
                        <p>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Dari tanggal</label>
                            <div class="text-readonly">{{ obj.f9}}</div>
                        </div>

                        <div class="mb-1 bb-silver">
                            <label for="exampleFormControlInput1" class="form-label  text-bold">Sampai tanggal</label>
                            <div class="text-readonly">{{ obj.f10}}</div>
                        </div>

                    </div>

                    <div class="mb-1">
                        <label for="input_date" class="form-label text-bold">Created Date {{obj.SupportFormId}}</label>
                        <input type="text" readonly class="form-control-plaintext" value="{{obj.input_date | date:'dd/MM/yyyy H:mm:ss'}}" />
                    </div>
                    <div class="mb-1" *ngIf="obj.approval_status == 1 || is_read">
                        <p class="text-success"><i class="fas fa-user-check"></i> Read by RT {{read_by}} {{obj.read_by}}</p>
                    </div>
                    <div class="d-grid text-center">
                        
                       
                        <button *ngIf="id_user_access == 9697 && (obj.approval_status == null || obj.approval_status == 0) && !is_read" class="btn btn-success  m-1" (click)="rt_read(obj)"><i class="fas fa-check"></i> RT Read</button>
                        
                        <button *ngIf="id_user_access == 9698 && (obj.approval_status == null || obj.approval_status == 0)" class="btn btn-success  m-1" (click)="rt_approved(obj)"><i class="fas fa-check"></i> RT Approved</button>
                        
                        <a *ngIf="obj.status_name != 'Draft'" role="button" class="btn btn-info text-light  m-1" (click)="goToLink(new_tab)"><i class="fas fa-print"></i> Print</a>
                    </div>
                </form>
            </div>
        </div>
        <p class="box-bottom"></p>

    </div>
</div>
 