<div class="main-wrapper">
    <div class="page-wrapper full-page">
        <div class="page-content d-flex align-items-center justify-content-center">

            <div class="row w-100 mx-0 auth-page">
                <div class="col-md-8 col-xl-6 mx-auto">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-4 pr-md-0">
                                <div class="auth-left-wrapper"> </div>
                            </div>
                            <div class="col-md-8 pl-md-0">
  
                                <div class="auth-form-wrapper p-4"> 

                                    <div class="form-group mt-2">
                                        <label for="newPass"><b>New Password</b></label>
                                        <input type="password" id="newPass" class="form-control"  [(ngModel)]="login.password" name="newPass" required autofocus> 
                                        <div class="my-2"> 
                                            <button (click)="onSubmit();" class="btn btn-dark mr-2 mb-2 px-5 mb-md-0 text-white "  [disabled]="!login.password" type="button">Submit</button>
                                        </div> 
                                    </div>

                                    <div class="text-danger">
                                        <small>{{note}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>