<div class="main-wrapper">

    <app-topside></app-topside>

    <div class="page-wrapper">
        <div class="container-fluid my-2">
           <div class="my-2"  [hidden]="loading">
            Tagihan yang belum dibayarkan.
           </div>
            <span *ngFor="let x of items; let i = index;" [hidden]="i < 1" > 
                <div class=" border p-2 bg-{{i%2==0 ?'white':'light'}} shadow-sm" [hidden]="x < 1"> 
                    <div class="row" >
                        <div class="col-6 text-right">
                            <b>{{month[i]}} {{ labels[i] | date:'yyyy' }}</b>   
                        </div>
                        <div class="col-6"> 
                            <b>Rp {{x | number}}</b>
                        </div>
                    </div>
                </div>
            </span>
           
            <div class="alert alert-warning text-center my-5" [hidden]="!loading">Loading...</div>
        </div>
    </div>
</div>
