<div class="main-wrapper">

    <app-topside></app-topside>

    <div class="page-wrapper">
        <div class="container-fluid my-2">
           <div class="my-2"  [hidden]="loading">
            <strong>Tagihan yang belum dibayarkan.</strong> 
           </div>
            <span *ngFor="let x of items_list; let i = index;" [hidden]="x == 0"> 
                <div class=" border p-2 bg-{{i%2==0 ?'white':'light'}} shadow-sm"><!-- *ngIf="i < 68 && x != 0" -->
                    <div class="row" *ngIf="label_list[i] != 'UNIT' && x != 0">
                        <div class="col-4 text-right">
                            <b>{{label_list[i] | date:'MMM yyyy'}}</b>
                        </div>
                        <div class="col-8">
                            <b>Rp {{x | number}}</b>
                        </div>
                    </div>
                </div>
            </span>
           
            <div class="alert alert-warning text-center my-5" [hidden]="!loading">Loading...</div>
        </div>
    </div>
</div>
