<div class="main-wrapper">


    <div class="page-wrapper bg-white">

        <div class="navgatorTop border-bottom shadow-sm">
            <div class="container-fluid">
                <div class="row no-gutters ">
                    <div class="col-2 ">
                        <a href="javascript:;" (click)="back();"><img src="./assets/images/arrow-left.svg" width="20"></a>
                    </div>
                    <div class="col-10">
                        <strong>{{category}}</strong>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-12 my-3 ">
                    <div class="cms_content">


                        <h5>{{items.name}}</h5>

                        <p class="text-small">Publikasi : {{items.start_date | date}}</p>

                        <p><img class="img-fluid" style="width:100%" src="{{items.filename}}"/></p>

                        <article [innerHtml]="items.content"></article>
                    </div>
                </div>
            </div>


        </div>

        <app-footer></app-footer>

    </div>
</div>
