<div class="main-wrapper">
 

    <div class="page-wrapper bg-white">

        <app-topside></app-topside>

        <div class="container-fluid">
          <div class="row">
              <div class="col-12 my-3">
                <h5>{{items.name}}</h5>

                <p class="text-small">By : {{items.user_name}}, {{items.input_date | date:'H/MM/yyyy hh:mm:ss'}}</p>
    
                <article [innerHtml]="items.content"></article>
              </div>
          </div>
           

        </div>

        <app-footer></app-footer>

    </div>
</div>
