<div class="main-wrapper">

    <app-leftside></app-leftside>

    <div class="page-wrapper">

        <app-topside></app-topside>

        <div class="page-content">
            <div *ngFor="let item of items" class="card mb-2">
                <!--<img src="https://dummyimage.com/600x400/000/fff" width="100%" class="mb-2">-->
                <div class="card-body">
                    <h6><a [routerLink]="[ '/cms/detail', item.id]">{{item.name}}</a></h6>
                    <p class="card-text text-small" [innerHTML]="item.content.substr(0,700)"></p>
                    <a [routerLink]="[ '/cms/detail', item.id]" class="text-small">Read more &hellip;</a>
                </div>
            </div>
            <!--<div class="media mb-2" *ngFor="let item of items">
              <img class="align-self-start mr-3" src="https://dummyimage.com/320x240/000/fff" alt="Generic placeholder image">
              <div class="media-body">
                 <h5 class="mt-0">{{item.name}}</h5>
              </div>
            </div>-->
        </div>

        <app-footer></app-footer>

    </div>
</div>
