<div class="main-wrapper">

    <app-leftside></app-leftside>

    <div class="page-wrapper">

        <app-topside></app-topside>

        <div class="">
            <div *ngFor="let item of items" class="card mb-2">
                
                <div class="card-body">
                    <h6><a [routerLink]="[ '/cms/detail', item.id]">{{item.name}}</a></h6>
                    <p class="card-text text-small text-justify" [innerHTML]="item.content.substr(0,300)"></p>
                    <a [routerLink]="[ '/cms/detail', item.id]" class="text-small">Read more &hellip;</a>
                </div>
            </div>
         
        </div>

        <app-footer></app-footer>

    </div>
</div>
