<div class="main-wrapper">


  <div class="page-wrapper">

    <div class="navgatorTop border-bottom shadow-sm">
      <div class="container-fluid">
        <div class="row no-gutters ">
          <div class="col-2 ">
            <a href="javascript:;" (click)="back();"><img src="./assets/images/arrow-left.svg" width="20"></a>
          </div>
          <div class="col-10">
            <strong>Profile </strong>
          </div>
        </div>
      </div>
    </div>


    <div class="my-3">

      <div class="container-fluid">



        <table [hidden]="asUpdate || asPasswordUpdate">
          <tr>
            <td>User ID</td>
            <Td>{{items.id}}</Td>
          </tr>
          <tr>
            <td>username</td>
            <Td>{{items.username}}</Td>
          </tr>
          <tr>
            <td>No Rumah</td>
            <Td>{{items.house}}</Td>
          </tr>
          <tr>
            <td>RT/RW</td>
            <Td>{{rtRw.no_rt}} / {{rtRw.no_rw}}</Td>
          </tr>
          <tr>
            <td>Nama Ketua RT</td>
            <Td>{{rtRw.rt}}</Td>
          </tr>
          <tr>
            <td>Nama Ketua RW</td>
            <Td>{{rtRw.rw}} </Td>
          </tr>

          <tr>
            <td colspan="2">
              <hr>
            </td>
          </tr>

          <tr>
            <td>Nama</td>
            <td>{{items.name}}</td>
          </tr>

          <tr>
            <td>Email</td>
            <td>{{items.email}}</td>
          </tr>
          <tr>
            <td>KTP</td>
            <td>{{items.ktp}}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{items.phone_1}}</td>
          </tr>
          <tr>
            <td>Status User</td>
            <td>{{items.access_name}}</td>
          </tr>

          <tr>
            <td>Password</td>
            <td>
              <a href="javascript:;" (click)="asPasswordUpdate = true;">Ganti Password</a>
            </td>
          </tr>

          <tr>
            <td> Perbarui Profil </td>
            <td>
              <button type="button" (click)="asUpdate=true;" class="btn btn-sm btn-info">Update Profile</button>
            </td>
          </tr>

          <tr>
            <td> Keluar</td>
            <td> <button type="button" class="btn btn-sm btn-dark" (click)="logout()">Logout</button></td>
          </tr>

        </table>







        <form (ngSubmit)="onUpdateSubmit()" [hidden]="!asUpdate" class="mb-5" #heroForm="ngForm">
          <div class="form-group">
            <label for="name">USER ID</label>
            <div class="form-control form-control-sm alert-secondary">{{items.id}}</div>
          </div>
          <div class="form-group">
            <label for="name">USERNAME</label>
            <div class="form-control form-control-sm alert-secondary">{{items.username}}</div>
          </div>
          <div class="form-group">
            <label for="name">Residence</label>
            <div class="form-control form-control-sm alert-secondary">{{items.house}}</div>
          </div>
          <div class="form-group">
            <label for="name">Nama Lengkap</label>
            <input id="name" name="name" type="text" required [(ngModel)]="model.name" #name="ngModel" class="form-control form-control-sm">
            <div [hidden]="name.valid || name.pristine"  class="text-danger">
              Nama tidak boleh kosong
            </div>

          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" type="text" required [(ngModel)]="model.email" #email="ngModel" class="form-control form-control-sm" email="true">
            <div [hidden]="email.valid || email.pristine" class="text-danger">
              Email tidak boleh kosong
            </div>
          </div>
          <div class="form-group">
            <label for="ktp">KTP</label>
            <input id="ktp" name="ktp" type="text" required [(ngModel)]="model.ktp" #ktp="ngModel" class="form-control form-control-sm">
            <div [hidden]="ktp.valid || ktp.pristine" class="text-danger">
              KTP tidak boleh kosong
            </div>
          </div>
          <div class="form-group">
            <label for="phone">Mobile Phone</label>
            <input id="phone" name="phone_1" type="text" required [(ngModel)]="model.phone_1" #phone_1="ngModel" class="form-control form-control-sm"  maxlength="20">
            <div [hidden]="phone_1.valid || phone_1.pristine"  class="text-danger">
             No HP tidak boleh kosong
            </div>
          </div>

          <div class="form-group">
            <label for="access_right">Login As </label>
            <div class="form-control form-control-sm alert-secondary">{{items.access_name}}</div>
          </div>
          <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
            Profile has been successfully updated!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <br>
          <div class="fix border-top shadow-sm">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline-dark btn-block" (click)="asUpdate = false;">Kembali</button>
              </div>
              <div class="col">
                <button name="submit" type="submit" class="btn btn-primary btn-block" [disabled]="!heroForm.form.valid">Update</button>
              </div>
            </div>
          </div>

        </form>

        <form (ngSubmit)="onUpdatePassword()" [hidden]="!asPasswordUpdate" class="mb-5" #myFormUpdate="ngForm">

          <div class="form-group">
            <label for="password">Password Baru</label>
            <input id="password" name="password" type="password" [(ngModel)]="model.password" #password="ngModel" class="form-control form-control-sm">
          </div>
          <div class="form-group">
            <label for="confirmPassword">Konfirmasi Password</label>
            <input id="confirmPassword" name="confirmPassword" type="password" [(ngModel)]="model.confirmPassword" #password="ngModel" class="form-control form-control-sm">
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-outline-dark btn-block" (click)="asPasswordUpdate = false;">Kembali</button>
              </div>
              <div class="col">
                <button name="submit" type="submit" class="btn btn-warning btn-block">Update</button>
              </div>
            </div>
          </div>


        </form>


      </div>

    </div>


  </div>
</div>
