strong{
    font-family: 'Roboto', sans-serif;
}
.navbar {
    position: fixed !important;
    
}
select.form-control, select {
    color: inherit; 
}

.auth-page .auth-left-wrapper {
    width: 100%;
    height: 100%;
    background-image: url("./assets/images/login.jpg");
    background-size: cover;
}

.lh-0 {
    line-height: 110%;
}

thead td{
    font-weight: bold !important;
    text-transform: uppercase;
}

.display-4{
    font-size: 26px;
}