 <!-- partial:partials/_sidebar.html -->
 <nav class="sidebar">
    <div class="sidebar-header">
        <a href="#" class="sidebar-brand">
            Residence<sup><span>One</span> </sup>
        </a>
        <div class="sidebar-toggler not-active">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="sidebar-body">
        <ul class="nav">
         
            <li class="nav-item nav-category">Menu</li>
            <li class="nav-item {{active == 'cms' ? 'active' : false}}">
                <a [routerLink]="[ '/cms' ]" class="nav-link">
                    <i class="link-icon" data-feather="box"></i>
                    <span class="link-title">Article</span>
                </a>
            </li> 
            
            <li class="nav-item {{active == 'billing' ? 'active' : false}}">
                <a  [routerLink]="[ '/billing' ]" class="nav-link">
                    <i class="link-icon" data-feather="file-text"></i>
                    <span class="link-title">Billing</span>
                </a>
            </li>
            <li class="nav-item {{active == 'support' ? 'active' : false}}">
                <a  [routerLink]="[ '/support' ]" class="nav-link">
                    <i class="link-icon" data-feather="file-text"></i>
                    <span class="link-title">Support</span>
                </a>
            </li>
            <li class="nav-item {{active == 'panic' ? 'active' : false}}">
                <a  [routerLink]="[ '/panic' ]" class="nav-link">
                    <i class="link-icon" data-feather="file-text"></i>
                    <span class="link-title">Panic Button</span>
                </a>
            </li>
 

        </ul>
    </div>
</nav>