<header class="pt-3 ">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-4">
                <strong class="m-0  text-white">Residence One</strong>
                <div class="  lh-1 text-white"><small>ver 1.0.5</small></div>
            </div>
            <div class="col-8 text-right">
                <div [routerLink]="[ '/profile' ]">
               
                    <strong>{{user.name}}</strong>
                    <div class="lh-1"><small>{{user.house}}</small></div>
                </div>
            </div>
        </div>
    </div>

    <div class="warp-header border-2  py-2 bg-white shadow-sm rounded-3x mt-5">
        <div class="container">
            <div class="row">

                <div class="col-4 text-center">
                    <a href="javascript:;" [routerLink]="[ '/support' ]">
                        <img src="./assets/images/icons8-ticket-58.png" width="40%">
                        <div class="lh-1"> <small> <b>Support</b> </small></div>
                    </a>
                </div>

                <div class="col-4 text-center">
                    <a href="javascript:;" [routerLink]="[ '/billing' ]">
                        <img src="./assets/images/icons8-bill-58.png" width="40%">
                        <div class="lh-1"> <small> <b>Billing</b> </small> </div>
                    </a>
                </div>

                <div class="col-4 text-center">
                    <a href="javascript:;" (click)="onPanic();">
                        <img src="./assets/images/icons8-brake-warning-48.png" width="40%">
                        <div class="lh-1"> <small><b> Panic</b></small></div>
                    </a>
                </div>
            </div>

        </div>
    </div>

</header>

<div class="main-wrapper mt-2">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-2">
                <b>Support Ticket</b>
            </div>

        </div>

        <div class="row no-gutters">
            <div class="col-4">
                <div class="alert alert-warning border shadow-sm mx-1 text-center">
                    <h4 class="lh-0">{{support.closed}}</h4>
                    <small class="lh-0">Draft</small>
                </div>
            </div>
            <div class="col-4">
                <div class="alert alert-success  border shadow-sm mx-1 text-center">
                    <h4 class="lh-0">{{support.draft}}</h4>
                    <small class="lh-0">Process</small>
                </div>
            </div>
            <div class="col-4">
                <div class="alert alert-primary  border shadow-sm mx-1 text-center">
                    <h4 class="lh-0">{{support.progress}}</h4>
                    <small class="lh-0">Closed</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-2">
                <b>Latest Article</b>
            </div>
            <div class="col-6 mb-2 text-right">
                 <a [routerLink]="[ '/cms' ]">See More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="border shadow-sm rounded p-2 mb-2" [routerLink]="[ '/cms/detail',x.id ]" *ngFor="let x of cms">
                    <div>{{x.name}} </div> 
                    <p>{{x.input_date | date}}</p>
                </div>
               
            </div>
            <div class="col-12 text-center mb-2">
                <a [routerLink]="[ '/cms' ]">See More</a>
            </div>
        </div>

    </div>

</div>