
<header class="pt-3 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <strong class="m-0 ">test</strong>
                <div class="  lh-1"><small>ver 1.0.5</small></div>
            </div>
            <div class="col-6 text-right">
                <div class="">
                    <strong>profile.name</strong>
                    <div class="lh-1"><small>profile.level</small></div>
                </div>
            </div>
        </div>
    </div>

    <div class="warp-header border-2  py-2 bg-white shadow-sm rounded-3x mt-5">
        <div class="container">
            <div class="row">

                <div class="col-4 text-center">
                    <a href="javascript:;" [routerLink]="[ '/topup' ]">
                        <img src="./assets/icon/icons8-plus-96.png" width="40%">
                        <div class="lh-1"> <small> Support </small></div>
                    </a>
                </div>

                <div class="col-4 text-center">
                    <a [routerLink]="[ '/transaction' ]">
                        <img src="./assets/icon/icons8-purchase-order-96.png" width="40%">
                        <div class="lh-1"> <small> Billing  </small> </div>
                    </a>
                </div>

                <div class="col-4 text-center">
                    <a href="javascript:;" [routerLink]="[ '/history' ]">
                        <img src="./assets/icon/icons8-time-machine-96.png" width="40%">
                        <div class="lh-1"> <small> Panic Button</small></div>
                    </a>
                </div>
            </div>

        </div>
    </div>

</header>
<div class="container">
     
    <div class="row my-4">

        <div class="col-3 text-center">
            <a href="javascript:;" [routerLink]="[ '/packages' ]">
                <img src="./assets/icon/icons8-bot-96.png" width="100%" class="bg-light  border rounded-pill p-1">
                <div class="lh-1"><small>Packages </small></div>
            </a>
        </div>

       

        <div class="col-3  text-center">
            <a href="javascript:;" [routerLink]="[ '/report/profit/' ]">
                <img src="./assets/icon/icons8-area-chart-96.png" width="100%" class="bg-light  border rounded-pill p-1">
                <div class="lh-1">
                    <small>Profit Sharing</small>
                </div>
            </a>
        </div>
    </div>

</div>
